<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.luojilab.reader">

    <!--    添加权限测试manifest合并功能-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/readerbook_app_name"
        android:supportsRtl="true"
        tools:replace="android:label">

        <!--        添加Activity测试manifest合并功能-->
        <activity
            android:name=".ReaderActivity"
            android:screenOrientation="portrait" />

        <meta-data android:name="a" android:value="a"/>

    </application>

</manifest>
