<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luojilab.componentdemo">

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/commonAppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DispatcherActivity">
            <intent-filter>
                <data
                    android:host="www.luojilab.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="*"
                    android:scheme="ddcompo" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.luojilab.com"
                    android:path="/compodemo"
                    android:scheme="ddcompo" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".router.UiRouterDemoActivity" />
        <activity android:name=".router.cases.Demo1Activity" />
        <activity android:name=".router.cases.Demo2Activity" />
        <activity android:name=".router.cases.Demo3Activity" />
        <activity android:name=".router.cases.Demo4Activity" />
        <activity android:name=".router.cases.Demo5Activity" />
        <activity android:name=".router.cases.Demo6Activity" />
        <activity android:name=".router.cases.Demo7Activity" />
        <activity android:name=".router.cases.Demo8Activity" />

        <service
            android:name=".msg.MainProcessMsgService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".msg.RemoteMsgService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity android:name=".msg.Msg1Activity" />
        <activity android:name=".msg.Msg2Activity" />
        <activity
            android:name=".msg.Msg3Activity"
            android:process=":remote" />
        <activity
            android:name=".DemoActivity"
            android:label="@string/title_activity_demo"></activity>
    </application>

</manifest>